@use "../../styles/variables" as variables;

.header {
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: row;
  font-weight: 900;
  background-color: variables.$menu-background-color;
  height: 5rem;
  width: 100vw;
  .leftGroup {
    display: flex;
    .burgerContainer {
        display: flex;
        height: 5rem;
        width: 5rem;
        .burgerMenu {
          display: flex;
          flex-direction: column;
          width: fit-content;
          height: fit-content;
          margin: auto;
          img {
            height: 2rem;
            width: 2rem;
          }
        }
      }
      .brand {
        display: flex;
        justify-content: flex-end;
        margin: auto 0;
        padding: 0.875rem;
      }
  }

}
